/* ======================　下層ページの html/.logo/.back-to-topのcss ======================*/
.manual {
  font-size: 30px;
  padding-left: 20px;
  border-left: solid 1px #fff;
  height: 44px;
  color: #fff;
  font-weight: 400;
}

.footer-logo .manual {
  font-size: 20px;
  height: 30px;
}

/* ====================== テナント向け/便利機能マニュアル主要部分  ======================*/

.tenant,
.utilities,
.main-office,
.mall-office {
  background-color: transparent;
  padding: 0;
  margin-top: 80px;
}

.title_h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #212121;
  text-align: center;
}

.title_h2 {
  font-size: 20px;
  color: #212121;
  border-left: #b50080 solid 10px;
  padding-left: 10px;
}

.title_h3 {
  font-weight: bold;
  font-size: 16px;
  color: #212121;
  padding: 10px 10px 15px;
  border-bottom: 2px solid #b50080;
}

/* --------本社向けの質問一覧　目次部分 --------*/

.contents_wrap {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 20px;
  margin-top: 30px;
}
.table_of_contents li {
  padding: 15px 10px;
  border-bottom: 1px solid #e0e0e0;
}
.table_of_contents li a {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  color: #424242;
  text-decoration: none;
  text-align: left;
  word-break: auto-phrase;
}

.table_of_contents li a::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  transform: rotate(45deg);
  right: 5px;
  width: 9px;
  height: 9px;
  border-top: 2px solid #757575;
  border-right: 2px solid #757575;
  transition: 0.3s;
}

.table_of_contents li a:hover {
  color: #b50080;
  cursor: pointer;
}

.table_of_contents li a:hover::after {
  right: 0px;
  border-top: 2px solid #b50080;
  border-right: 2px solid #b50080;
  border-bottom: 0;
  transition: 0.15s;
}

.contents-accordion {
  padding: 0px;
  border: none;
}
.contents-accordion summary {
  font-size: 14px;
  font-weight: 500;
  color: #424242;
  display: inline-block;
  padding-right: 25px;
}

.contents-accordion > .accordion_contents ul{
  padding: 15px 0 0;
}
.contents-accordion > .accordion_contents ul li{
  border-bottom: none;
}

.contents-accordion > .accordion_contents ul li a{
  display: inline-block;
}

.contents-accordion > .accordion_contents ul li ::after{
  top: 0px;
  right: -13px;
}

/* ====================== レスポンシブ対応 ======================*/
@media screen and (max-width: 1024px) {
  html {
    scroll-padding-top: 80px;
  }
  .manual {
    padding-left: 2vw;
    font-size: 20px;
    height: 30px;
  }
  .contents-accordion > .accordion_contents ul {
    padding: 10px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    margin-top: 10px;
    padding: 0;
  }
  .breadcrumbs ul {
    flex-wrap: nowrap;
    word-wrap: break-word;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0 0 1rem;
  }
  .title_h1 {
    margin: 40px 0;
    font-size: 1.7rem;
  }
  .accordion {
    padding: 15px;
  }
  .accordion_list dt {
    padding: 0;
  }
  .accordion_list dd {
    margin-top: 10px;
  }
  .contents-accordion{
    padding: 0;
  }
  .contents-accordion > .accordion_contents ul li{
    padding: 10px;
  }
}

@media screen and (max-width: 540px) {
  .accordion_list dd {
    margin-top: 10px;
  }
}
